body{
    background-image: url(pexels-기승-ki-19329504.png);
    background-size: 100%;
    background-repeat: no-repeat;
    box-sizing: border-box;
}
.linkedin{
    margin-top: 100%;
    margin-left: 0%;
    display: block;
}