@page

<div>
    <img src="https://media-fra3-2.cdn.whatsapp.net/v/t61.24694-24/370186738_782909183606516_5964279810179384403_n.jpg?ccb=11-4&oh=01_AdTGGPwyvc0_f-4BCvUeOoZ6dOAXPzWyW2TXimwhU2XIeQ&oe=657614C6&_nc_sid=e6ed6c&_nc_cat=110" />
    <h1 class="display-4">Serhat</h1>
    <p>Personal Website</p>
    <a href=”https://www.linkedin.com/in/mehmet-serhat-aslan-58272b28a/”> LinkedIn</a>
</div>
